* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2; }

a {
  text-decoration: none; }

li {
  list-style: none; }

input,
select,
button,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: transparent;
  outline: none;
  font-family: sans-serif;
  font-size: 16px; }

input[type='email'],
input[type='text'],
input[type='password'],
input[type='search'] {
  display: block;
  width: 100%; }

a,
button,
label,
input[type='submit'],
input[type='checkbox'],
input[type='radio'] {
  cursor: pointer; }

img,
svg {
  display: block;
  max-width: 100%; }

.width {
  max-width: 1160px;
  margin: 0 auto;
  width: 92%; }

.relative {
  position: relative; }

.hide {
  display: none; }

.offscreen {
  position: absolute;
  left: -9999px; }
