// Colors
$white: #fff;
$black: #000;

// fonts
$font: sans-serif;

// Breakpoints
$tinybp: rem(374);
$smallbp: rem(500);
$smbp: rem(640);
$mediumbp: rem(800);
$largebp: rem(960);
$xlargebp: rem(1100);

// Transitions
$fadeOffTransition: left 0s 0.15s, opacity 0.15s;
$fadeOnTransition: left 0s, opacity 0.15s;
